@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

#figureImg {
    /* TRBL */
    margin: 0 auto;
    width: 30%;
    height: 20%;
}
.divImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
} 
.radioDesc {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    margin-top: 2em;
    font-size: 100%;
    line-height: 2.0;
    word-spacing: 0.2em;
    padding-left: 2%;
    padding-right: 2%;
}
#footerSpan {
    display: relative;
}
#footer {
    text-align: center;
}
