div input, label {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}
#reviewTxt {
    border: 2px dashed red;
}
fieldset {
    padding: 20px;
    border: none;
} 
div {
    margin: 20px;
}
@media only screen and (max-width: 768px) {
    #reviewTxt {
        width: 50%;
    }
}