/*
A CSS file used for the 'rating' page, to try and separate some of the styling logic to make maintenance or future additions easier. Doesn't really accomplish that, but it was worth a try. A media query is used to shrink the massive 'text area' element to make the page mobile friendly
*/

/* Imported google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

div input, label {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}
fieldset {
    padding: 20px;
    border: none;
} 
div {
    margin: 20px;
}
.Btn {
    margin: 5px;
    padding: 10px;
}
.Btn:hover {
    transition-property: transform, border-radius, background-color;
    transition-duration: 0.3s;
    transform: scale(1.2, 1.2);
    border-radius: 10%;
    background-color: whitesmoke;
}
@media only screen and (max-width: 768px) {
    #siteReview {
        width: 50%;
    }
}