@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

div input, label {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}
fieldset {
    padding: 20px;
    border: none;
} 
div {
    margin: 20px;
}
.Btn {
    margin: 5px;
    padding: 10px;
}
.Btn:hover {
    transform: scale(1.1, 1.1);
}
@media only screen and (max-width: 768px) {
    #siteReview {
        width: 50%;
    }
}